{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html>
    <head> 
        <title>Box hover effects</title>
        <link rel="stylesheet" type="text/css" href="static/css/aboutnew.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
        <h1>Here is all about AVS</h1>
            <p>The online admission management system is a digitized way of managing <br>the student admission and enrollment processes effortlessly.<br> The module is efficient in capturing student inquiries,<br> checking their eligibility, creating follow-ups, <br>collecting documents, and completing <br>the application process<br> automatically.</p>
        <div class="container">
            <div class="box">
                <div class="icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                <div class="content">
                    <h3>MISSION</h3>
                    <p>To overcome the difficulties in filling admission forms for better experience of our users.</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                <div class="content">
                    <h3>VISSION</h3>
                    <p>To find and resolve issues like fee approval status pending though fees were already paid,documents were not getting uploaded,etc.</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                <div class="content">
                    <h3>ACHIEVEMENTS</h3>
                    <p>We have build online admission portal using python flask and html,css.</p>
                </div>
            </div>
    </body>
</html>
{% endblock %}
