{% extends 'base.html' %}
{% block body %}
<html>
    <head> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Responsive contact Us page</title>
       <link rel="stylesheet" type="text/css" href="static/css/contact.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        
        </head>
        <body>
            <section class="contact">
                <div class="content">
                    <h2>Contact Us</h2>
                    <p>AVS Software.</p>
                </div>
                <div class="container">
                    <div class="contactInfo">
                        <div class="box">
                            <div class="icon"><i class="fa fa-home" ></i></div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>4671 Sugar Camp Road,<br>Owatonna,Minenesota,<br>55060</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>Phone</h3>
                                <p>507-475-6094</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon"><i class="fa fa-envelope fa" aria-hidden="true"></i></div>
                            <div class="text">
                                <h3>Email</h3>
                                <p>AWS5678@temp-mail.net</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="social">
                    <div class="button">
                        <div class="icon"><a href="https://www.facebook.com/" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div><span>facebook</span></a>
                    </div>
                    <div class="button">
                        <div class="icon"><a href="https://www.instagram.com/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div><span>instagram</span></a>
                    </div>
                    <div class="button">
                        <div class="icon"><a href="https://www.youtube.com/" target="_blank">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </div><span>youtube</span></a>
                    </div>
                    <div class="button">
                        <div class="icon"><a href="https://www.twitter.com/" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div><span>Twitter</span></a>
                    </div>
                </div>
            </section>
        </body>
    </html>
{% endblock %}