{% extends 'adbase.html' %}
{% block body %}
<table border="1" cellspacing="0" width="70%">
    <thead class="thead-light">
      <tr>
        <th scope="col">TID</th>
        <th scope="col">STUDENT NAME</th>
        <th scope="col">STUDENT Email</th>
    </tr>
</thead>
<tbody>
    {% for post in query %}
    <tr>
      <th scope="row">{{post.id}}</th>
      <td>{{post.sname}}</td>
      <td>{{post.semail}}</td>

    </tr>
    {% endfor %}
      
      </tbody>
    </table>
{% endblock %}
