{% extends 'otpbase.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/OTP.css">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form action="/verify" method="post">
    <div class="container"><h3></h3>
        <div class="row main" style="padding-top:50px;">
            <div class="main-login main-center">
    <h5></h5>
    <p>
        <div class="alert alert-primary">
    </p>
    <h1 class="mb-1"><span>Forgot password</span> </h1>
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        </div>
        <div class="form-group">
            <label for="pass" class="cols-sm-2 control-label">Enter your E-mail address</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="email" class="form-control" name="email" placeholder="Enter registered E-mail address">
            </div>
        </div>
</div>
    <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Send OTP on E-mail">
</form>
</body>
{% endblock %}
</html>