<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.approve').click(function() {
            var $button = $(this); // save a reference to the button element
            var itemId = $button.data('item-id');
            $.ajax({
                url: '/approve_form/'+itemId,
                method: 'POST',
                data: { 'item_id': itemId }
            });
        });
    });
</script>
{% extends 'adbase.html' %}
{% block body %}
<table border="1" cellspacing="0" width="70%">
    <tr><th>Roll no</th>
      <th>Name</th>
      <th>Class</th>
      <th>Last Exam Percentage</th>
      <th>Photo</th>
      <th>Sign</th>
      <th>Adhaar card</th>
      <th>Last Exam Result</th>
      <th>Domecile Certificate</th>
      <th>Caste Certeficate if any</th>
      <th scope="col">Approve</th>
    </tr>

</thead>
<tbody>
{% for academy, student in zipped %}
  <tr>
    <td scope="row">{{academy.acid}}</td>
    <td scope="row">{{student.sname}}</td>
    <td scope="row">{{academy.lclass}}</td>
    <td scope="row">{{academy.leper}}</td>
    <td scope="row"><a href="{{ url_for('image_view', image_id=academy.acid, image_of='photo')}}" target="_blank">View</a></td>
    <td scope="row"><a href="{{ url_for('image_view', image_id=academy.acid, image_of='sign')}}" target="_blank">View</a></td>
    <td scope="row"><a href="{{ url_for('image_view', image_id=academy.acid, image_of='adhar')}}" target="_blank">View</a></td>
    <td scope="row"><a href="{{ url_for('image_view', image_id=academy.acid, image_of='result')}}" target="_blank">View</a></td>
    <td scope="row"><a href="{{ url_for('image_view', image_id=academy.acid, image_of='domecile')}}" target="_blank">View</a></td>
    <td scope="row"><a href="{{ url_for('image_view', image_id=academy.acid, image_of='caste')}}" target="_blank">View</a></td>
    <!--<td><button class="approve" data-item-id={{academy.acid}}>Approve</button></td>-->
    <td>
        <form action="/approve_form" method="post">
            <input type="submit" value="approve">
            <input type="hidden" value={{academy.acid}} name="id">
        </form>
    </td>
  </tr>
{% endfor %}

</tbody>
</table>

{% endblock %}
